<div class="container mx-auto" style="width: 500px;">
  <h5 class="mb-4 mt-5" style="color: lightcoral;">* 必填欄位</h5>
  <form action="/records/new" method="POST">
    <div class="form-group row mb-4">
      <label for="record-name" class="col-2 col-form-label">名稱*</label>
      <div class="col-10">
        <input class="form-control" type="text" name="name" id="record-name" required>
      </div>
    </div>
    <div class="form-group row mb-4">
      <label for="record-category" class="col-2 col-form-label">類別*</label>
      <div class="col-10">
        <select name="category" id="record-category" class="custom-select" required>
          <option value="">請選擇⋯⋯</option>
          {{#each categories}}
          <option value="{{this.title}}">{{this.title}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group input-group row mb-4">
      <label for="record-date" class="col-2 col-form-label mr-4">日期*</label>
      <div class="input-group-prepend">
        <span class="input-group-text" style="width: 45px;"><i class=" far fa-calendar-alt fa-lg"></i></span>
      </div>
      <input class="form-control col-5" type="date" id="record-date" style="cursor: pointer" name="date" required>
    </div>
    <div class="form-group input-group row mb-4">
      <label for="record-amount" class="col-2 col-form-label mr-4">金額*</label>
      <div class="input-group-prepend">
        <span class="input-group-text" style="width: 45px"><i class="fas fa-dollar-sign fa-lg ml-1"></i></span>
      </div>
      <input class=" form-control col-5" type="number" id="record-amount" name="amount" required>
    </div>
    <div class="form-group row mb-4">
      <label for="record-merchant" class="col-2 col-form-label">店家*</label>
      <div class="col-10">
        <input class="form-control" type="text" name="merchant" id="record-merchan" required>
      </div>
    </div>

    <div class="text-center mt-4 row">
      <div class="col-5"></div>
      <div class="col-3"><button type="submit" class="btn btn-primary">新增支出</button></div>
    </div>
  </form>
</div>